<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IClienteController" />
                <binding name="BasicHttpBinding_ITaxaController" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:10945/Controllers/ClienteController.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IClienteController"
                contract="ClienteController.IClienteController" name="BasicHttpBinding_IClienteController" />
            <endpoint address="http://localhost:10945/Controllers/TaxaController.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITaxaController"
                contract="TaxaController.ITaxaController" name="BasicHttpBinding_ITaxaController" />
        </client>
    </system.serviceModel>
</configuration>