<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IClienteController" />
                <binding name="BasicHttpBinding_ITaxaController" />
                <binding name="BasicHttpBinding_IAluguelController" />
                <binding name="BasicHttpBinding_IPagamentoController" />
                <binding name="BasicHttpBinding_IPropriedadeController" />
                <binding name="BasicHttpBinding_IProprietarioController" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:10945/Controllers/ProprietarioController.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IProprietarioController"
                contract="ProprietarioController.IProprietarioController" name="BasicHttpBinding_IProprietarioController" />
            <endpoint address="http://localhost:10945/Controllers/AluguelController.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAluguelController"
                contract="AluguelController.IAluguelController" name="BasicHttpBinding_IAluguelController" />
            <endpoint address="http://localhost:10945/Controllers/ClienteController.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IClienteController"
                contract="ClienteController.IClienteController" name="BasicHttpBinding_IClienteController" />
            <endpoint address="http://localhost:10945/Controllers/PropriedadeController.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPropriedadeController"
                contract="PropriedadeController.IPropriedadeController" name="BasicHttpBinding_IPropriedadeController" />
            <endpoint address="http://localhost:10945/Controllers/PagamentoController.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPagamentoController"
                contract="PagamentoController.IPagamentoController" name="BasicHttpBinding_IPagamentoController" />
            <endpoint address="http://localhost:10945/Controllers/TaxaController.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITaxaController"
                contract="TaxaController.ITaxaController" name="BasicHttpBinding_ITaxaController" />
        </client>
    </system.serviceModel>
</configuration>